DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=portfolio
SESSION_SECRET=your-secret-key-here
ADMIN_ADMIN=admin
ADMIN_PASSWORD=password
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
PORT=3001
